<div class="container-fluid text-center">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pokemos" routerLinkActive="active" >Pokemons</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">{{ pokemons?.name }}</li>
        </ol>
      </nav>

  <div class="card" style="width: 18rem">
    <img [src]="pokemons?.sprites?.front_default" class="card-img-top" [alt]="pokemons?.name" />
    <div class="card-body">
      <h5 class="card-title">{{ pokemons?.name}}</h5>
      <p class="card-text">
        {{ pokemons?.weight}} kg
      </p>
      <a href="#" class="btn btn-primary">Mostrar informacion</a>
    </div>
  </div>
</div>
